.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    input[type=text]{
        width: 250px;
        padding: 7px;
    }
    input[type=password]{
        width: 250px;
        padding: 7px;
    }
    input[type=submit]{
        border-radius: 5px;
        cursor: pointer;
        width: 250px;
        padding: 7px;
        background-color: #04AA6D;
        color: white;
        border: none;
    }
}