* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counter {
  .counter-content {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
}
